<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 offset-md-2">
            <a href="" class="text-decoration-none text-success">
                <div class="card d-flex justify-content-center align-items-center mb-4 home-box-hover" style="height: 100px;">
                    <p class="mb-0 fs-3">Patients</p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="" class="text-decoration-none text-success">
                <div class="card d-flex justify-content-center align-items-center mb-4 home-box-hover" style="height: 100px;">
                    <p class="mb-0 fs-3">Appointments</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4 offset-md-2">
            <a href="" class="text-decoration-none text-success">
                <div class="card d-flex justify-content-center align-items-center mb-4 home-box-hover" style="height: 100px;">
                    <p class="mb-0 fs-3">Reports</p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="" class="text-decoration-none text-success">
                <div class="card d-flex justify-content-center align-items-center mb-4 home-box-hover" style="height: 100px;">
                    <p class="mb-0 fs-3">Prescriptions</p>
                </div>
            </a>
        </div>
    </div>
</div>
