<div class="container d-flex justify-content-center mt-4"">

    <div class="form-box-container">

        <h1 class="mb-3">New Patient</h1>

        <%= render "form", patient: @patient %>

    </div>
</div>