/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* HOMEPAGE STYLES */
.home-box-hover {
    transition: transform 0.3s ease-in-out;
}

.home-box-hover:hover {
    transform: scale(1.05);
}

.wider-field input {
    width: 360px;
}
@media (max-width: 364px) {
    .wider-field input {
        width: 350px;
    }
}
@media (max-width: 354px) {
    .wider-field input {
        width: 340px;
    }
}
@media (max-width: 344px) {
    .wider-field input {
        width: 330px;
    }
}
@media (max-width: 334px) {
    .wider-field input {
        width: 320px;
    }
}
@media (max-width: 324px) {
    .wider-field input {
        width: 310px;
    }
}

.login-box-container, .form-box-container {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.login-box-error {
    color: #d46d3e;
    transform: translateY(-8px);
}

.form-box-error {
    color: #d46d3e;
    font-weight: bold;
    line-height: 1.2;
    transform: translateY(4px);
}

.forgot-pwd-link {
    text-decoration: none;
}