<div class="container d-flex justify-content-center mt-4"">

    <div class="form-box-container">

        <h1 class="mb-3">Edit <%= @title %></h1>

        <%= form_with(model: [:admin, @user], local: true, data: { turbo: false }) do |form| %>

            <%= render "admin/users/fields", form: form %>

            <div class="actions">
                <%= form.submit "Update User", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>